
.cycleMoving{

  transform:rotate(-45deg);
}
img{ 
  animation-name: cyclemove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
/* img:hover{
  transform:rotate(0deg);
  animation-duration: 0s;

} */
@keyframes cyclemove{
   0%{}
   50%{transform:rotate(-35deg) }
   100%{} 
}

.homeNav{
  color:rgb(251, 96, 127);
  margin: 6px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 6px 10px;
  transition: font-size 0.5s;
  
  
}
.homeNav:hover{
  color:white;
  margin: 5px;
  font-size: 22px;
  border: 2px solid rgb(251, 96, 127);
  border-radius: 5px;
  padding: 6px 10px;
  text-decoration: none
  
}
.goIcon{
  font-size: 3em;
  background: rgb(251, 96, 127);
  border: 2px solid rgb(251, 96, 127);
  border-radius: 50%;
  animation-name: iconmove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes iconmove{
  0%{}
  50%{transform:translate(0px,10px) }
  100%{} 
}
.containerLanding{
  background-color: black;
  height:100%;
  text-align: center;
  color: white
}